modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run React Dev Server"

[[workflows.workflow]]
name = "Run React Dev Server"
author = 46671888
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
